/* PC */
@media (min-width: 64em){
    .list--item:last-child {
        display: none;
    }
}
/* TABLET */
@media (min-width: 46.25em) and (max-width:63.9375em){
    /* Header */
    .width_94 {
        width: 94%;
    }

    .container {
        justify-content: flex-end;
    }

    .nav-left,
    .user {
        display: none;
    }

    .nav-between-logo {
        left: 3%;
        transform: translateX(0);
    }

    .nav-right-icon .ti-align-justify {
        margin-right: -10px;
    }
    
    /* SLIDER */
    #drop-of-water {
        display: none;
    }
    /* CONTENT */
    #content .section-infoandprice {
        display: flex;
        flex-direction: column-reverse;
    }

    .content-slide {
        width: 50%;
    }

    .content-slide .content-slide--icon,
    .content-slide--gallery img:nth-child(4)  {
        display: none;
    }

    .content-slide .content-slide--gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .content-slide--gallery img {
        width: 31.3333%;
    }

    .content-details {
        width: initial;
    }

    .content-details--info {
        margin: 0;
        padding-left: 10px;
    }
    .content-details .content-details--imgpork,
    .content-details .content-details--imgonion {
        padding: 160px 0;
    }

    .content-details .content-details--imgchicken {
        background-size: cover;
    }

    .content-warrant {
        display: none;
    }

    .info-des-tomato {
        text-align: justify;
    }

    .section-relatedproducts--product {
        justify-content: space-between;
    }

    .product-item {
        margin: 0;
        width: 31.33333%;
    }

    .product-item:nth-child(4),
    .product-item:nth-child(5) {
        display: none;
    }

    #content .section-info {
        margin-top: 50px;
    }

    /* FOOTER */
    #footer {
        margin-top: 97px;
    }

    #footer .footer-first {
        display: block;
    }

    #footer .footer-item {
        width: 100%;
        padding: 0;
    }

    .logofooter {
        display: none;
    }

    .footer-item .signup-text-btn {
        display: initial;
        position: relative;
        display: flex;
    }

    .signup-text-btn .signup-text {
        width: 100%;
    }

    .signup-text-btn .signup-btn input {
        position: absolute;
        top: 0;
        right: 0;
    }

    .footer-introduction {
        margin: 20px 0 20px ;
    }

    .footer-contact {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .footer-contact > h3 {
        padding-bottom: 10px;
    }

    .footer-last {
        margin: 0;
    }

    .footer-copyright-iconcontact {
        flex-direction: column;
    }

    .footer-copyright-iconcontact div {
        width: inherit;
    }

    .iconcontact {
        margin-top: 10px;
    }

    /* MODAL */
    .modal__registerlogin {
        margin: 55px auto;
    }

    .inner__authform--headercp {
        display: none;
    }

    .inner__authform--socials {
        margin-bottom: 20px;
    }

}
/* MOBILE */
@media (max-width: 46.1875em){
    /* Header */
    .width_94 {
        width: 96%;
    }

    .container {
        display: block;
        padding: 10px 0 ;
        position: relative;
    }

    .nav-between-logo {
        position: relative;
        margin-bottom: 10px;
    }

    .nav-left,
    .user {
        display: none;
    }

    .nav-right {
        display: block;
    }

    .nav-right .search input {
        width: 100%;
    }

    .nav-right-list {
        position: absolute;
        top: 25%;
        right: 0;
    }

    .navright-item:last-child {
        padding-right: 0;
    }

    /* Slider */
    #slider  #drop-of-water {
        display: none;
    }

    #slider .slider-nav {
        padding: 0 50px;
        text-align: center;
        text-shadow: 1.5px 1.5px 2px white;
    }

    /* CONTENT */
    #content .section-infoandprice {
        margin-top: 7px;
    }

    .content-slide {
        display: none;
    }

    .content-slide .content-slide--icon {
        display: none;
    }

    .content-slide .content-slide--gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .content-slide--gallery img {
        width: 31.3333%;
        height: 90px;
    }

    .content-details {
        flex-direction: column;
        width: 100%;
    }

    .content-details--item {
        width: 100%;
    }

    /* .content-details--item:first-child {
        box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.05);
    } */

    .content-details--item .ti-heart {
        top: 10px;
        right: 10px;
    }

    /* .content-details .content-details--imgbeef,
    .content-details .content-details--imgchicken,
    .content-details .content-details--imggrape,
    .content-details .content-details--imggreenapple,
    .content-details .content-details--imggreenbellpepper,
    .content-details .content-details--imgguava,
    .content-details .content-details--imglemon,
    .content-details .content-details--imgonion,
    .content-details .content-details--imgorange,
    .content-details .content-details--imgpork,
    .content-details .content-details--imgredpeachUSA,
    .content-details .content-details--imgsalmon,
    .content-details .content-details--imgstrawberry,
    .content-details .content-details--imgtomato,
    .content-details .content-details--imgyellowbellpepper
    {
        padding: 50% 0;
    } */

    .content-details--info {
        margin: 30px 0 0;
    }

    .content-details--info h3 {
        font-size: 22px;
    }

    .content-details--add button {
        width: 65%;
        padding: 15px;
    }
    
    .content-warrant {
        display: none;
    }

    .info-des-tomato {
        text-align: justify;
    }

    .section-relatedproducts--product {
        justify-content: space-between;
    }
    
    #content .section-info {
        margin-top: 50px;
    }

    .section-info--title li:first-child {
        border-radius: 10px 10px 0 0;
    }
    
    .section-info--title ul li:nth-child(2),
    .section-info--title ul li:nth-child(3){
        display: none;
    }

    .section-relatedproducts {

    }

    .product-item:nth-child(3),
    .product-item:nth-child(4),
    .product-item:nth-child(5) {
        display: none;
    }


    .product-item .item-rprice {
        margin: 0;
    }

    .product-item {
        width: 48%;
        margin: 0;
    }

    .product-item .item-sp--img img {
        max-width: 100%;
    }

    .product-item.product-pork {
        display: none;
    }

    /* DROP OF WATER  */
    #drop-of-water1 {
        top: -46px;
    }

    /* FOOTER */
    #footer .footer-first {
        display: block;
    }

    #footer .footer-item {
        width: 100% !important;
        margin-bottom: 15px;
        padding: 0;
    }

    .footer-contact > h3,
    .footer-item .signup-des > h3 {
        padding-bottom: 7px;
    }

    .footer-signup .signup-text {
        width: 100%;
    }

    .footer-introduction .logofooter {
        display: none;
    }

    .footer-contact {
        margin-top: 0;
    }

    .footer-last {
        margin-top: 0;
    }

    .footer-copyright-iconcontact {
        display: block;
    }

    .footer-copyright-iconcontact .copyright {
        margin-bottom: 10px;
    }

    .footer-copyright-iconcontact div {
        width: 100%;
    }

    .iconcontact .iconcontact-item {
        padding: 13px;
        margin: 0;
    }

    /* MODAL */
    .modal__registerlogin {
        width: 80%;
    }

    .inner__authform--header {
        justify-content: center;
    }

    .inner__authform--header > img {
        width: 150px;
    }

    .inner__authform--header > p {
        display: none;
    }

    .inner__authform--headercp {
        padding: 10px ;
    }

    .inner__authform--controls {
        justify-content: space-evenly;
    }

    .inner__authform--controls > button {
        margin: 0;
    }

    .authform__help {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .inner__authform--socials {
        flex-direction: column;
        align-items: center;
    }

    .authform--socialsFb {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .authform--socialsFb a {
        width: 100%;
    }

    .authform--socialsFb i {
        width: 33%;
    }

    .authform--socials-item {
        width: 80%;
    }
}
